body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex; /* Usar flexbox para centrar el contenido */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: 100vh; /* Hacer que el body ocupe toda la altura de la ventana */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.contenido {
    max-width: 600px;
    width: 100%; /* Asegura que el contenedor no exceda el ancho de la pantalla */
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 20px rgba(0, 0, 2, 0.8); /* Sombra más pronunciada */
}

.pregunta {
    margin-bottom: 20px;
    text-align: center;
}

.escondida {
    display: none;
}

.botones {
    display: flex;
    justify-content: space-between; /* Alinea los botones a la derecha */
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#siguienteBtn {
    background-color: #007bff;
    color: white;
    margin-left: auto;
}

#anteriorBtn {
    background-color: #6c757d;
    color: white;
    margin-right: auto; /* Espacio entre los botones */
}

#enviarBtn {
    background-color: #28a745;
    color: white;
    width: 100%;
    margin-top: 20px;
}